.app {
  .header {
    width: 100%;
    background-color: rgba(255, 242, 0,0.9);
    text-align: center;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    img {
      width: 80%;
      margin: 5px;
    }
  }

  .card {
    margin-bottom: 10px;
    padding-top: 10px;
    // background-color: #f9f9f9;
  }
}
